/*base classes*/
html, body{
	height: 100%;
	width: 100%;
}


.section{
	padding: 5em 0;
}

.padding{
	padding:0px 1em;
}
/*base classes*/

.topic{
	background-color: #BA1C1B;
	top: 60px;
	width: 100%;
}

.someplace{
	height: 1.5em;
}

.rowitem{
	margin: 0 auto !important;
	display: block !important;
	height: 7em !important;
}

.rowitem-h1{
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}

.somespace{
	height: 2em;
}

.nav-item a{
	color: #BA1C1B !important;
	transition: all 0.6s ease;
}

.nav-item{
	padding: 0px 1em;
}

.nav-item a:hover{
	background-color: #BA1C1B;
	color: #fff !important;
}















